<!-- {{yield}}
<li><strong>{{question.question}}</strong><br> {{question.answer}}
  <!{{#if isImageShowing}}
    <p><img src={{rental.image}} alt={{rental.type}} {{action 'imageHide'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Image</button>
  {{/if}} -->
  <!-- <button {{action 'delete' question}}>Delete</button>
</li> -->
